*,
html {
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    font-size: 20px; 
    color:rgb(0, 0, 0);
}

.header-list li {
    float: right;
    margin: 100px 6px 4px;
    padding: 10px 30px 12px 30px;

}

.profile:hover, .jurusan:hover, .about:hover, .denah:hover, .guru:hover {
    color: white
}

.profile, .denah, .about, .jurusan, .guru {
    background-color: rgba(255, 255, 255, .67);
    opacity: 1;
    border: 5px solid rgb(110, 255, 246);
    display:flex;
}

.top {
    width: 69.35%;
    height: 150px;
    padding: 0px 20px px 20px;
    margin-left: 15%;
    background-image: url('IMG_20220802_105003.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 5px solid rgb(110, 255, 246);

}

.fotodepan {
    box-shadow: 5px 3px rgb(0 154 82), 5px 4px rgb(0 154 82), 5px 6px rgb(0 154 82);
    position: absolute;
    margin: 200px 0 0 93px;
    top: 0;
    bottom: 0;
    float: left;
    height: 280px;
    width: auto;   
}

.fotodepan:hover {
    box-shadow: -0px 0px rgb(0, 154, 82), 0px 0px rgb(0, 154, 82), 0px 0px rgb(0, 154, 82);
    transition: all 0.25s ease-in-out;
}

.mid {
    background-color: rgba(255, 255, 255, 0.9);
    width: 70%;
    height: 440px;
    padding: 0px 20px px 20px;
    margin-left: 15%
}


.bawah {
    color: rgb(71, 71, 71);
}


.shapesalam {
    box-shadow: 5px 3px rgb(0 154 82), 5px 4px rgb(0 154 82), 5px 6px rgb(0 154 82);
    display:flex;
    margin-right: 60px;
    height: auto;
    display: inline-block;
    padding: 20px 10px 30px 10px;
    border-radius: 40px 40px 40px 40px;
    border: 5px solid rgb(110, 255, 246);
}

.shapesalam:hover {
    box-shadow: -0px 0px rgb(0, 154, 82), 0px 0px rgb(0, 154, 82), 0px 0px rgb(0, 154, 82);
    transition: all 0.1s ease-in-out;
}

.atas {
    color: rgb(185, 185, 185);
}

.salam h1 {
    font-size: 50px;
    margin: 10px;
    text-align:center;
}

.salam {
    padding: 50px 1px 1px 550px;
    text-align:center;
}


.bot {
    background-color:rgb(208, 255, 224);
    height: 140px;
}

.tulisanfooter1 li {
    padding: 5% 10% 0 24%;
}

.tulisanfooter1 {
    width: 30%;
    height: 95%;
    border: 5px solid rgb(110, 255, 246);
    float: left;
}

.tulisanfooter2 li {
    padding: 6% 10% 0 30%;
}

.tulisanfooter2 {
    width: 30%;
    height: 95%;
    border: 5px solid rgb(110, 255, 246);
    float: right;
}

.tulisanfooter3 {
    width: 38.48%;
    height: 95%;
    border-top: 5px solid rgb(110, 255, 246);
    border-bottom: 5px solid rgb(110, 255, 246);
    float: right;
}

.tulisanfooter3 p {
    text-align: center;
    font-size: 24px;
    margin: 3% 3% 0 3%;
}

.logoemail {
    float: left;
    position: relative;
    margin: 0 0px 0 -15%;
    padding: 15% 0 0% 0%;
    height: 40%;
    width: 14%; 
}

.logoig {
    float: left;
    position: relative;
    margin: 0 1px 0 2px;
    padding: 4% 0 0 10%;
    height: 40%;
    width: 15%; 
}

.logo {
    position: absolute;
    float: left;
    height: 100%;
    width: 100%
}

.logobang {
    display:flex;
    float: left;
    border-right: 5px solid rgb(110, 255, 246);
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0% 0% 0% 0%;
    height: 100%;
    width: 14%;

}

.smk19 {
    display:flex;
    margin-left: 10%;
    position: absolute;
    padding: 10px 20px 12px 30px;
    font-size: 32px;
    border-right: 5px solid rgb(110, 255, 246);
    border-bottom: 5px solid rgb(110, 255, 246);
    background-color: rgba(255, 255, 255, 0.67);
}

.logo2 {
    padding-top: 25px;
    font-size: 55px;
    padding-left: 50px;
    float: left;  
}

.penyatu {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('IMG_20220906_103426.jpg');
    position: relative;
}

body {
    font-family: sans-serif;
}

a{
    text-decoration:none;
}

label{
        font-family:sans-serif;
        font-size: 15px ;
}
#forgot-pass{
        color:rgb(0, 0, 0);
        font-family:sans-serif;
        font-size: 15px ;
        margin-top: 10px;
        text-align: right;			
}
#card{
        background:rgb(208, 255, 224);
        border-radius:8px;
        box-shadow:1px 2px 8px rgba(0,0,0,0.65);
        height: 410px;
        margin:6rem auto 8.1rem auto;
        width: 329px;
}
#card-content{
        padding:12px 44px ;
}
#card-title{
        font-family:"Raleway Thin"sans-serif;
        letter-spacing: 4px;
        padding-bottom: 23px;
        padding-top: 13px;
        text-align:center;
}
#signup{
        color:rgb(0, 0, 0) ;
        font-family:"Raleway",sans-serif;
        font-size:15px;
        margin-top:16px;
        text-align: center;
}
#submit-btn{
     background:rgb(185, 185, 185);
     border-radius:21px;
     border:none;
     box-shadow:0px 1px 8px #ffffff;
     cursor:pointer;
     color:rgb(0, 0, 0);
     font-family:"Raleway semibold",sans-serif;
     height: 42.3px;
     margin:0 auto;
     margin-top:50px;
     width: 153px;
}
#submit-btn:hover{
    color: #fbfbfb;
    box-shadow:0px 2px 8px #000000;
}
.form{
        align-items:left;
        display:flex;
        flex-direction:column;
}
.form-border{
        height: 2px ;
        width:100% ;
        background:rgb(185, 185, 185);
}
.form-content{
        background: #fbfbfb;
        border:none;
        outline:none ;
        padding-top: 14px;
}
.underline-title{
        background:rgb(185, 185, 185);
        height: 2px ;
        width: 89px ;
        margin: 8px auto 0 auto;
}

.box {
    padding: 52px 0 0 554px;
    position: relative;
    float: left;
}

.button {
    background: rgb(208, 255, 224);
    display: block;
    width: 318px;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(110, 255, 246)    ;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: 0 auto;
    box-shadow: 5px 3px rgb(0 154 82), 5px 4px rgb(0 154 82), 5px 6px rgb(0 154 82)
    
}
.button:hover {
    background: #06D85F;
    box-shadow: -0px 0px rgb(0, 154, 82), 0px 0px rgb(0, 154, 82), 0px 0px rgb(0, 154, 82);
    transition: all 0.25s ease-in-out;

}
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup #card {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    border: #ff2c2c;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;

}
  
@media screen and (max-width: 800px){
.box{
    width: 100%;
}
.popup{
    width: 100%;
}
}
