*,
html {
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    font-size: 20px;
    color:rgb(121, 106, 255);
}

.header-list li {
    float: right;
    padding: 25px 80px;

}

.top {
    background-color: rgb(153, 245, 245);
    height: 80px;
}

.mid {
    height: 553px;
    background-image: url('IMG_20220906_103426.jpg')

}

.bawah {
    color: white;
}



.shapesalam {
    background-color: thistle;
    height: 130px;
    display: inline-block;
    padding: 20px 40px 30px 40px;
    border-radius: 40px 40px 40px 40px;
}

.atas {
    color: rgb(121, 106, 255);
}

.salam h1 {
    font-size: 50px;
    margin: 10px;
}

.salam {
    padding: 200px;
}


.bot {
    background-color: rgb(173, 252, 252);
    height: 133px;
    
}

.footer-list li {
    float: right;
    padding: 50px 33px;
}

.logo2 {
    padding-top: 25px;
    font-size: 55px;
    padding-left: 50px;
    float: left;  
}

.logodah {
    padding-top: 5px;
    font-size: 55px;
    padding-left: 50px;
    float: left;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}



