*,
html {
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    font-size: 20px;
    color:rgb(121, 106, 255);
}

.header-list li {
    float: right;
    padding: 25px 80px;

}

.top {
    background-color: rgb(153, 245, 245);
    height: 80px;
}

.mid {
    background-color: rgb(100, 232, 255);
    height: 553px;
}

.bot {
    background-color: rgb(173, 252, 252);
    height: 133px;
    
}

.footer-list li {
    float: right;
    padding: 50px 33px;
}

.logo2 {
    padding-top: 25px;
    font-size: 55px;
    padding-left: 50px;
    float: left;  
}

.logodah {
    padding-top: 5px;
    font-size: 55px;
    padding-left: 50px;
    float: left;
}

body {
    background-color: rgb(100, 232, 255);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

